
<div class="container">

  <div class="row d-flex justify-content-center">

    <div class="col-md-6">

    <h1>Listing Spot</h1>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Content</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @spots.each do |spot| %>
          <tr>
            <td><%= spot.name %></td>
            <td><%= spot.address %></td>
            <td><%= link_to "Show", spot %></td>

          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to "New spot", new_spot_path %>
    </div>


  </div>
</div>

